body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  padding: 20px;
}

.project-image {
  width: 150px; /* Adjust the size */
  height: auto; /* Maintain aspect ratio */
  margin: 10px 0; /* Add some space around the image */
  display: block; /* Ensure it appears on a new line */
}
